 .input {
    margin: 0 .5rem;
    margin-bottom: 1.5rem;
    position: relative;
    background: var(--color-white);
    border-radius: 1rem;
}

 .input__label {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 14rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
    color: var(--color-grey);
    transition: all .2s ease-in;
    font-size: 1.45rem;
    opacity: 0;
    z-index: 3;
}


 .input__field, .input .textarea {
    border: none;
    border-radius: .5rem;
    padding-left: 1rem;
    position: relative;
    z-index: 4;
    background: transparent;
    font-size: var(--font-size-md);
}

.input__field {
    width: 23rem;
    height: 5rem;
}



.input .textarea {
    padding-top: .5rem;
}

.input .textarea:focus {
    outline: none;
}


 .input__field:focus {
    outline: none;  
}

 input:not(:placeholder-shown) + label {
    opacity: 1;
    transform: translateY(-1.5rem);
    font-size: .8rem;
}

 .input__border {
    position: absolute;
    bottom: .5rem;
    width: 100%;
    height: 1px;
    background: red
}


 input:-webkit-autofill,
 input:-webkit-autofill:hover, 
 input:-webkit-autofill:focus, 
 input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}