.button {
    font: inherit;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    width: 10rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    margin: .5rem;

}

.button:focus {
    outline: none;
}

.button:hover,
.button:active {
    background: red;
    color: white;
}

/*--------DISABLED BUTTON -----------*/

.button:disabled {
    background: #ccc;
    color: #888888;
    cursor: not-allowed;
    border: #ccc;
    box-shadow: none;
}

.button:disabled:hover,
.button:disabled:active {
    background: #ccc;
    color: #888888;
    border: #ccc;
}


/*---------VARIATIONS-----------*/


    /*----------PRIMARY VERSION----------*/
    .button--primary {
        background: var(--color-primary);
        color: var(--color-white);
        border: 1px solid var(--color-primary);
    }
    .button--primary:hover,
    .button--primary:active {
        background: var(--color-white);
        color: var(--color-primary);
    }


    /*--------SECONDARY VERSION------------*/
    .button--secondary {
        background: var(--color-secondary);
        color: var(--color-white);
        border: 1px solid var(--color-secondary);
    }
    
    .button--secondary:hover,
    .button--secondary:active {
        background: var(--color-white);
        color: var(--color-secondary);
    }

    /*----------GREY VERSION------------------------*/
    .button--grey {
        background: var(--color-grey);
        color: var(--color-white);
        border: 1px solid var(--color-grey);
    }
    
    .button--grey:hover,
    .button--grey:active {
        background: var(--color-secondary);
        border: 1px solid var(--color-secondary);
        color: var(--color-white);
    }

    /*----------RED VERSION------------------------*/
    .button--red {
        background: var(--color-white);
        color: #a71111;
        border: 1px solid #a71111;
    }
    
    .button--red:hover,
    .button--red:active {
        background: #a71111;
        border: 1px solid #a71111;
        color: var(--color-white);
    }