.phone {
    width: 27rem;
    height: 58rem;
    background: rgb(17, 17, 17);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3rem;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 6px 8px 20px -9px rgba(41,41,41,1);
}

@media (max-width: 1167px){
    .phone {
        margin-top: 0rem;
    }
}

@media (max-width: 531px){
    .phone {
        width: 22rem;
        height: calc(22rem * 2.148148);
    }
}

@media (max-width: 448px){
    .phone {
        width: 18rem;
        height: calc(18rem * 2.148148);
    }
}


@media (max-width: 357px){
    .phone {
        width: 14rem;
        height: calc(14rem * 2.148148);
    }
}

.phone__top {
    width: 100%;
    height: calc( (100% -  (26rem * 1.775)) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media (max-width: 531px){
    .phone__top {
        height: calc( (100% -  (22rem * 1.775)) / 2);
    }
}

@media (max-width: 448px){
    .phone__top {
        height: calc( (100% -  (18rem * 1.775)) / 2);
    }
}

@media (max-width: 357px){
    .phone__top {
        height: calc( (100% -  (14rem * 1.775)) / 2);
    }
}
.phone__top__circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--color-white);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 32%;
}

.phone__top__bar {
    width: 17%;
    height: .4rem;
    background: var(--color-white);
    border-radius: .5rem;
}


.phone__screen {
    width: 26rem;
    height: calc(26rem * 1.775);
    background-position: center;
    background-size: cover;
    border-radius: .2rem;
    cursor: pointer;
}

@media (max-width: 531px){
    .phone__screen {
        width: 21rem;
        height: calc(21rem * 1.775);
    }
}

@media (max-width: 448px){
    .phone__screen {
        width: 17rem;
        height: calc(17rem * 1.775);
    }
}

@media (max-width: 357px){
    .phone__screen {
        width: 13rem;
        height: calc(13rem * 1.775);
    }
}


.phone__bottom {
    height: calc( (100% -  (26rem * 1.775)) / 2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 531px){
    .phone__bottom {
        height: calc( (100% -  (22rem * 1.775)) / 2);
    }
}

@media (max-width: 448px){
    .phone__bottom {
        height: calc( (100% -  (18rem * 1.775)) / 2);
    }
}

@media (max-width: 357px){
    .phone__bottom {
        height: calc( (100% -  (14rem * 1.775)) / 2);
    }

}

.phone__bottom__btn {
    width:  4rem;
    height:  4rem;
    border-radius: 50%;
    background-color: var(--color-white);
}