.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 140rem;
    overflow-y: scroll;
}

.contact__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

@media (max-width: 977px){
    .contact {
        height: unset;      
    }
}

.contact__header {
    width: 100%;
}

.contact__form {
    width: 39%;
    max-width: 52rem;
    height: min-content;
    padding: 1rem;
    background: var(--color-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

@media (max-width: 1261px){
    .contact__form  {
        width: 50%;
    }
}

@media (max-width: 977px){
    .contact__form  {
        width: 60%;
        transform: translateY(0);
    }
}

@media (max-width: 740px){
    .contact__form  {
        width: 80%;
    }
}

.contact__form__title {
    margin-bottom: 1.5rem;
    padding: 1rem 0;
    font-size: 1.4rem;
    color: var(--color-white)
}
.contact__form__group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.contact__form__group .input {
    width: 100%;
}
.contact__form__group .input__field {
    width: 100%;
}

.contact__form .input .textarea {
    width: 100%;
    resize: vertical;
    min-height: 10rem;
    background: var(--color-white);
    max-height: 20rem;
    font-size: var(--font-size-md);
    font-family: var(--font-primary)
}


.contact__header h1 {
    width: 100%;
    font-size: 4rem;
    padding: 3rem;
    padding-left: 8rem;
    text-transform: uppercase;
    color: var(--color-primary);
}

@media (max-width: 609px){
    .contact__header h1 {
        padding-left: 3rem;
        font-size: 2.5rem;
    }
}

.contact__infos-list {
    display: flex;
    align-items: center;
    list-style: none;
    /* position: absolute;
    bottom: 4rem; */
}


@media (max-width: 609px){
    .contact__infos-list {
        flex-direction: column;
        margin-bottom: 5rem;
    }
}

.contact__infos-list__item {
    background: var(--color-white);
    margin: 0 1rem;
    display: flex;
    align-items: center;
    height: 4.5rem;
    border-radius: 3rem;
    width: 19rem;
    /* border: 1px solid var(--color-primary); */
    padding-left: .5rem;
}

@media (max-width: 609px){
    .contact__infos-list__item:not(:last-child) {
        margin-bottom: 1rem;
    }
}

.contact__infos-list__item__icon {
    width: 3.5rem;
    height: 3.5rem;
    background: var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 1rem;
}

.contact__infos-list__item__icon svg {
    width: 1.6rem;
    height: 1.6rem;
    fill: var(--color-white)
}