.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: proximity;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y proximity;
    padding-left: 8rem;
    max-width: 140rem;
}

.projects::-webkit-scrollbar {
    display: none;
}

.project {
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content min-content 1fr;
    column-gap: 3rem;
}

@media (max-width: 1186px){
    .projects {
        padding-right: 8rem;   
        height: unset; 
        scroll-snap-type: none;
        scroll-snap-points-y: unset;
        scroll-snap-type: none;
    }
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: unset;
        min-height: unset;
        width: 70vw;
    }
    .project:last-child {
        padding-bottom: 6rem;
    }
}

@media (max-width: 690px){
    .projects {
        padding-right: 0;    
        padding-left: 0;       
        
    }

    .project {
        width: 90vw;
    }
}

.project__logs-toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .8rem;
    border-radius: .5rem;
    background: var(--color-grey);
    color: var(--color-white);
    cursor: pointer;
}
.project__logs-toggler svg {
    width: 2rem;
    height: 2rem;
    fill: rgb(250, 233, 3);
    margin-left: .5rem;
    
}


.project__title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 3rem 0;
    color: var(--color-primary);
}

.project__title--woto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 690px){
    .project__title--woto {
        flex-direction: column;
        align-items: flex-start;
    }

    .project__title--woto h1 {
        margin-bottom: 2rem;
    }
}

@media (max-width: 1186px){
    .project__title {
        align-self: flex-start;
    }

    .project__title--woto h1 {
        margin-right: 6rem;
    }
}

.project__title h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

h1.project__title {
    font-size: 4rem;
    text-transform: uppercase;
}

@media (max-width: 545px){
    .project__title h1 {
        font-size: 2.5rem;
    }
    
    h1.project__title {
        font-size: 2.5rem;
    }
}



@media (max-width: 375px){
    .project__title h1 {
        font-size: 2rem;
    }
    
    h1.project__title {
        font-size: 2rem;
    }
}

.project__desc {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.7;
    text-align: justify;
    color: var(--color-grey);
    padding-bottom: 4rem;
}


.project__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14rem;
    padding: 1rem 0;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: var(--color-primary);
    cursor: pointer;
    transition: all .3s ease-in;
    box-shadow: none;
}

@media (max-width: 1167px){
    .project__cta  {
       align-self: center;
    }
}

.project__cta:hover {
    background: var(--color-primary);
    color: var(--color-white);
    transform: translateY(-.5rem);
    box-shadow: 2px 27px 20px -16px rgba(92,92,92,1);
}

.project__cta:active {
    transform: translateY(-1px); /*related to the initial link) */
    box-shadow: 0 .5rem 1rem rgba(black,.2); 
}


.project__cta:hover svg {
    fill: var(--color-white)
}

.project__cta svg {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    fill: var(--color-primary)
}

.project__img {
    grid-row: 2 / -1;
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

@media (max-width: 1186px){
    .project__img {
        padding-top: 0rem;
        align-self: center;
        margin-bottom: 6rem;
        width: 50vw;
    }
}

.project__img .phone__screen.phone__screen--trimmo {
    background-image: url("../../assets/img/trimmo.PNG");
}

.project__img .phone__screen.phone__screen--triano {
    background-image: url('../../assets/img/triano.PNG');
}

.project__img .phone__screen.phone__screen--weather{
    background-image: url('../../assets/img/weather.PNG');
}

.project__framework {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    border-radius: .5rem;
    overflow: hidden;
}

@media (max-width: 1186px){
    .project__framework {
        width: 100%;
        order: 2;
    }
}
.project__framework__title {
   padding: 1rem 0;
   background: var(--color-grey);
   color: var(--color-white);
   padding-left: 1rem;
}

.project__framework__list {
    list-style: none;
    border-left: 1px solid var(--color-grey);
    border-right: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    margin-bottom: 3rem;
}

.project__framework__list__item {
    padding: 1.2rem 1rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__framework__list__item:not(:last-child){
    border-bottom: 1px solid rgb(230, 230, 230);
}

.project__framework__list__item__value {
    color: var(--color-grey);
}


.project__gallery {
    grid-row: 2 / -1;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__gallery__item {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

@media (max-width: 1186px){
    .project__gallery {
        width: 100%;
        order: 1;
        margin-bottom: 5rem;
    }
    .project__gallery__item {
        width: 70vw;
    }
}

@media (max-width: 690px){
    .project__gallery__item {
        width: 90vw;
    }
}

.project__gallery__item__title {
    padding: 1rem;
    color: var(--color-white);
    background: var(--color-primary);
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}


.project__gallery__item__img {
    width: 30vw;
    height: calc(30vw * 0.536585);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}

@media (max-width: 1186px){
    .project__gallery__item__img {
        width: 70vw;
        height: calc(70vw * 0.536585);
    }
}

@media (max-width: 690px){
    .project__gallery__item__img {
        width: 90vw;
        height: calc(90vw * 0.536585);
    }
}



.project__gallery__item__img--client {
    background-image: url('../../assets/img/woto-client.PNG');
    margin-bottom: 6rem;
}

.project__gallery__item__img--admin {
    background-image: url('../../assets/img/woto-admin.PNG');
}

.project__woto__loginContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.712);
    display: flex;
    justify-content: center;
    transform: translateY(-100%);
}

.project__woto__loginContainer.show {
    z-index: 5;
    transform: translateY(0) translateX(-20rem);
}

@media (max-width: 977px){
    .project__woto__loginContainer.show {
        transform: translateY(0) translateX(0);
    }
}

.project__woto__login {
    width: 25%;
    overflow: hidden;
    background: var(--color-white);
    height: min-content;
    
    transform: translateY(20rem);
    opacity: 0;
    transition: all .3s ease-in;
}

@media (max-width: 1252px){
    .project__woto__login {
        width: 40%;
    }
}

@media (max-width: 792px){
    .project__woto__login {
        width: 60%;
    }
}

@media (max-width: 512px){
    .project__woto__login {
        width: 80%;
    }
}

@media (max-width: 352px){
    .project__woto__login {
        width: 90%;
    }
}


.project__woto__loginContainer.show .project__woto__login {
    opacity: 1;
    transform: translateY(12rem);
}

.project__woto__login__cta {
    background: var(--color-white);
    padding: 2rem;
    display: flex;
    justify-content: center;
}

.project__woto__login h2 {
    padding: 2rem;
    background: var(--color-primary);
    color: var(--color-white);
    text-transform: uppercase;
}

.project__woto__login__part {
    padding: 1rem 0;
    padding-left: 2rem;
    background: var(--color-white);
}


.project__woto__login__part__title {
    margin-bottom: 1rem;
    color: var(--color-primary)
}

.project__woto__login__part__list {
    list-style: none;
    font-size: 1.2rem;
    
}

.project__woto__login__part__list__item {
    display: flex;
}

.project__woto__login__part__list__item__value {
    color: var(--color-grey)
}

.project__woto__login__part__list__item:not(:last-child){
    margin-bottom: 1rem;
}

.project__woto__login__part__list__item__key {
    margin-right: 2rem;
    width: 8rem;
    
}