.sidebar {
    background: var(--color-primary);
    width:20rem;
    height: 100vh;
    position: fixed;
}


.sidebar__header {
    background: var(--color-primary);
    height: 20rem;
   
}
.sidebar__nav {
    
}

.sidebar__nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.sidebar__nav__list a {
    text-decoration: none;
    height: 5rem;
    margin-bottom: 1rem;   
    font-size: var(--font-size-md);
    text-transform: capitalize;
    color: var(--color-white);
    position: relative;
    /* overflow: hidden; */
}

.sidebar__nav__list__item {
    width: 20rem;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    z-index: 10;
    right: 0;

}
.sidebar__nav__list__item svg {
    width: 2rem;
    height: 2rem;
    margin-right: 2rem;
    margin-left: 5rem;
    fill: var(--color-white)
}


.sidebar__nav__list a.active {
    color: var(--color-primary);      
}

.sidebar__nav__list a.active::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: var(--color-white);
    height: 100%;
    width: 95%;
    display: inline-block;
    border-top-left-radius: 5rem;
    border-bottom-left-radius: 5rem;
}



.sidebar__nav__list a.active svg {
    fill: var(--color-primary);
    color: var(--color-primary)
}

.sidebar__nav__list__item__design {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--color-white);
    left: 0;
    display: none;

}

.sidebar__nav__list a.active .sidebar__nav__list__item__design {
    display: block;
}

.sidebar__nav__list__item__design.sidebar__nav__list__item__design--top {
    top: -100%;
}

.sidebar__nav__list__item__design.sidebar__nav__list__item__design--bottom {
    top: 100%;
}

.sidebar__nav__list__item__design__inner {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--color-primary);
}

.sidebar__nav__list__item__design.sidebar__nav__list__item__design--top .sidebar__nav__list__item__design__inner {
    bottom: 0;
    border-bottom-right-radius: 1.5rem;
   
}

.sidebar__nav__list__item__design.sidebar__nav__list__item__design--bottom .sidebar__nav__list__item__design__inner {
    bottom: 0;
    border-top-right-radius: 1.5rem;
}

