:root {
  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #1E4855;
  --color-secondary: #42318C;
  --color-grey: #817A97;



  --font-primary: 'Open Sans', sans-serif;
  --font-size-xs: 1rem;
  --font-size-md: 1.2rem;
  --font-size-xl: 1.4rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media (max-width: 977px){
  .html {
      width: 55%;
  }
}


body {
  font-family: var(--font-primary);
  box-sizing: border-box;
  /* background : var(--color-grey) */
}

.app {
  position: relative;
  
  
  height: 100vh;
  overflow-y: hidden;  
}

.app.started {
  animation: appScroll .3s ease-in forwards;
  animation-delay: 3s;
}
@keyframes appScroll{
  0% {
    height: 100vh;
    overflow-y: hidden; 
  }
  100% {
    height: unset;
  overflow-y: scroll;
  }
}



.app::-webkit-scrollbar {
  display: none;
}

.app__mounting {
  position: fixed;
  width: 100vw;
  height: 100vh;
}


.app__container {
  transform: translateX(100vw);
  background: var(--color-white);
  width: calc(100vw - 20rem);
  margin-left: 20rem;
  /* min-height: 200vh; */
  transition: all 2s ease-in;
  z-index: 1;
  position: relative;
}

@media (max-width: 977px){
  .app__container {
    margin-left: 0rem;
    width: 100vw;
  }
}


.app.started .app__container {
   transform: translateX(0);  
}

.app__container .drop-down-list {
  width: 13rem;
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  z-index: 10;
}

@media (max-width: 545px){
  .app__container .drop-down-list {
    top: 1rem;
  }

}

.app__container .drop-down-list svg {
  fill: var(--color-primary)
}




