:root {
  /* COLOR */ 
  --color-white : #fff;
  --color-primary: #1E4855;
  --color-secondary: #42318C;
  --color-grey: #817A97;



  --font-primary: 'Open Sans', sans-serif;
  --font-size-xs: 1rem;
  --font-size-md: 1.2rem;
  --font-size-xl: 1.4rem;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-primary);
  /* background : var(--color-grey) */
}

.app {
 
}


/***--color-grey: #E3E9F7;
  --color-grey-light: #DFE6F6***/
